# Environment variables
.env
.env.local
.env.production
.env.development

# Dependencies
node_modules/

# Prisma
prisma/migrations/*
!prisma/migrations/00_init_postgis/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
